.search-header {
	border-bottom: 1px solid white;
	box-sizing: border-box;
	height: 70px;
	padding: 28px 42px;
	width: 100%;

	.search-bar {
		float: left;
	}

	.about {
		float: right;
	}
}

.search-bar {
	position: relative;

	&:after {
		border-bottom: 1px solid white;
		bottom: -3px;
		content: '';
		display: block;
		position: absolute;
		left: 0;
		width: 0;
		transition: 1s ease;
	}

	&.is-searching {
		&:after {
			width: 100%;
		}
	}
}